/* 
 █████╗ ██████╗ ██████╗     ██╗███╗   ███╗ █████╗  ██████╗ ███████╗
██╔══██╗██╔══██╗██╔══██╗    ██║████╗ ████║██╔══██╗██╔════╝ ██╔════╝
███████║██║  ██║██║  ██║    ██║██╔████╔██║███████║██║  ███╗█████╗  
██╔══██║██║  ██║██║  ██║    ██║██║╚██╔╝██║██╔══██║██║   ██║██╔══╝  
██║  ██║██████╔╝██████╔╝    ██║██║ ╚═╝ ██║██║  ██║╚██████╔╝███████╗
╚═╝  ╚═╝╚═════╝ ╚═════╝     ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝
                                                                   
asccii type 
shadow 
big 

@author Hugh Ybarra
@contact hugh.ybarra@gmail.com

New Image view css file
*/
/*
*Global Styles 
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #c9cdcf;
}
/* Background tile */
body {
  background-image: url('../../images/random_grey_variations.png');
  background-repeat: repeat-x repeat-y;
}
/*
*Main 
*/
/*
*Gallery / addImage
*/
.mainContainer {
  margin-top: 50px;
}
.mainContainer textarea {
  resize: none;
}
.mainContainer .formToggleButton {
  margin-top: 10px;
}
.hideForm {
  display: none;
}
#urlForm label {
  color: #c9cdcf;
}
.newImageContainer {
  background-color: rgba(36, 33, 33, 0.7);
}
.newImageContainer .panel-heading {
  background-color: rgba(36, 33, 33, 0.7);
}
.newImageContainer p {
  margin-top: 10px;
}
