/* 
 █████╗ ██████╗ ██████╗     ██╗███╗   ███╗ █████╗  ██████╗ ███████╗
██╔══██╗██╔══██╗██╔══██╗    ██║████╗ ████║██╔══██╗██╔════╝ ██╔════╝
███████║██║  ██║██║  ██║    ██║██╔████╔██║███████║██║  ███╗█████╗  
██╔══██║██║  ██║██║  ██║    ██║██║╚██╔╝██║██╔══██║██║   ██║██╔══╝  
██║  ██║██████╔╝██████╔╝    ██║██║ ╚═╝ ██║██║  ██║╚██████╔╝███████╗
╚═╝  ╚═╝╚═════╝ ╚═════╝     ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝
                                                                   
asccii type 
shadow 
big 

@author Hugh Ybarra
@contact hugh.ybarra@gmail.com

New Image view css file
*/                     


.mainContainer {
	margin-top: 50px;

	textarea {
		resize: none;
	}

	.formToggleButton{
		margin-top: 10px;
	}
}

.hideForm{
	display: none;
}



